body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding-left: 70px;
}

.portfolio-menu {
    text-align: center;
}

.portfolio-menu ul li {
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 10px 15px;
    border: 1px solid red;
    cursor: pointer;
    transition: all 0.5 ease;
}

.portfolio-menu ul li:hover {
    background-color: red;
    color: white;
}

.portfolio-item img {
    height: 200px;
}

.portfolio-item .item {
    width: 300px;
    /* float: left; */
}

li:active {
    background-color: red;
    color: white;
}